# API ACCESS KEY
API_ACCESS_KEY=

# Con-PCA API URL
API_URL=http://localhost:5000

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# MONGO
MONGO_URI=

# SES
SES_ASSUME_ROLE_ARN=
SMTP_FROM=
